
<sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.all @ categories='bootcampblog.site'}" />


<div class="p-3">
	<h4 class="font-italic">Archives</h4>
	<ol class="list-unstyled mb-0">
		<li><a href="${properties.link}">January 2022</a></li>
		<li><a href="${properties.link}">February 2022</a></li>
		<li><a href="${properties.link}">March 2022</a></li>
		<li><a href="${properties.link}">April 2022</a></li>
		<li><a href="${properties.link}">May 2022</a></li>
		<li><a href="${properties.link}">June 2022</a></li>
		<li><a href="${properties.link}">July 2022</a></li>
		<li><a href="${properties.link}">August 2022</a></li>
		<li><a href="${properties.link}">September 2022</a></li>
		<li><a href="${properties.link}">October 2022</a></li>
		<li><a href="${properties.link}#">November 2022</a></li>
		<li><a href="${properties.link}">December 2022</a></li>
	</ol>
</div>